# Intro to Python - Part 1

Python is a great programming language to learn. It is used extensively for web design and data analysis. This tutorial is aimed at complete beginners who may not have a lot of coding experience, but would be suitable for someone who knows other programming languages and wants a quick intro to Python syntax.

Note: Python 3 is used throughout this intro tutorial.

## Comments and Printing

Adding a hashtag allows for comments to be added to Python code. Comments can be useful if you want to explain your code to someone else (or yourself in the future).

In [ ]:
# This is a comment.

When we run the code with a comment, nothing happens. If we wanted something to be output, we would use *printing*:

In [ ]:
# An example of printing in Python
print("Hello World")
print(123)

Hello World
123

When we run the code for printing, something is output below our code.

You might have noticed the Hello World print statement had quotation marks, but the 123 did not. This is because words and numbers are different *data types* in Python.

## Basic Data Types

In Python, and programming in general, there are different data types. These allow the code to perform certain actions (eg adding numbers together, or merging words). Some basic (but very important) data types in Python are:
* **String** - any text data, such as words or phrases.
* **Numeric** - numbers, including integers and floats (numbers with decimal places)
* **Boolean** - true or false (1 or 0)

### Text

In [ ]:
# In the above example "Hello World" was inside quotation marks

print("This is a string. Strings must be inside quotation marks.")
print('However, both single and double quotation marks work (as long as the same is used for the start and the end).')

This is a string. Strings must be inside quotation marks.
However, both single and double quotation marks work.

Strings can be combined using a plus sign.

In [ ]:
print("My name is" + " Laura")

My name is Laura

### Numeric

In [ ]:
print(1234) # Integer (or whole number)
print(1.234) # Float (or number with decimal place)

1234
1.234

With numeric data types, we can apply some mathematical operations. Notice Python will convert from integers to floats when needed.

In [ ]:
print(1+2) # Addtion
print(3-4) # Subtraction
print(5*6) # Multiplication
print(7/8.1) # Division
print(6**2) # Exponentiation (eg 6^2 or 6 squared)

3
-1
30
0.8641975308641976
36

### Boolean

You may not have heard the term Boolean better, it simply means something which can have a True or False answer. Sometimes this can be represented as 1 and 0 respectively.

As Boolean as a data type themselves, you do not use quotation marks as these are different from strings.

In [ ]:
print(True) # notice the True changes blue, it *must* have a capital T
print(False)

True
False

We can also use Boolean statements which will produce a True or False value. These can be written using comparison operators, such as less than.

In [ ]:
print( 4 == 7) # equal to (must be two equal signs)
print(4 == "4") # note a string of the same number is not equal to the numeric
print(9 != 0) # not equal to
print(5 < 6) # less than
print(8 <= 7) # less than or equal to
print(10 > 2) # greater than
print(8 >= 8) # greater than or equal to

False
False
True
True
False
True
True

## Variables

So far we have been using *literals* (meaning the data takes the literal value we tell, eg 4 or True. We might also want to work with data that can change value, these are called *variables* (as the values vary).

In [ ]:
name = "Jamie"
height = 1.5
student = True

To print a variable, do not use any quotation marks and pay attention to the case of the letters.

In [ ]:
print(name)

Jamie

A variable cannot be called if it has not been declared (given a value)

In [ ]:
print(test)

NameError: name 'test' is not defined

## More Printing

Sometimes combining a variable with text for print is useful.

In [ ]:
item = 9
no_items = 5
amount = item * no_items

print("Your total is £", amount)

Your total is £ 45

In [ ]:
item = 10

In [ ]:
amount = item * no_items

In [ ]:
currency = "£"

print("Your total is %s %d" % (currency,amount)) # where d = decimal and s = string

Your total is £ 50

## Finding the Data Type

To find the type of some data, literal or variable, Python has a pre-built function *type()*.

In [ ]:
print(type(4))
print(type(4.1))
print(type("4"))
print(type(True))
print(type(amount))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>

Notice the difference between 4 and 4.1 - int and float

Also, the data type of the variable is not variable, it is the data type of the value.

## Casting to a Specific Data Type

Sometimes it is useful to change between data types, eg changes the number 4 to a string of the number 4.


*   str() - to convert to string
*   int() - to convert to an integer (or whole number, no decimal place)
*   float() - to convert to a number with a decimal place
*   bool() - to convert to a Boolean

In [ ]:
four = 4
print(four)
print(type(four))
print(str(4))
print(type(str(four)))

4
<class 'int'>
4
<class 'str'>

This can be very helpful for combining strings to print.

In [ ]:
print("I have "+str(four)+" cats.")

I have 4 cats.

Not everything can be converted from one thing to another.

*   All numeric data types (floats and ints) can be converted to string.
*   All strings of just numberic characters and decimal places can be converted to floats (if it has a decimal place) or ints.
*   The integers 0 and 1 can be cast as Booleans, and the Booleans True and False can be cast as ints.

In [ ]:
print(bool(1))
print(bool(0))
print(int(True))
print(int(False))
print(str(True))
print(str(False))

True
False
1
0
True
False

However, the strings "true" and "false" will not be cast correctly to Booleans. When a string is cast to a Boolean, if it is empty it will be False and if it is not empty it will be True.

In [ ]:
print(bool("true"))
print(bool("false"))
print(bool("")) # An empty string is quotations marks with nothing in between

True
True
False

## Input Statements

Sometimes you will need to ask the user to input some information (e.g. if you are building a game or a chatbot).

Run the code below to input a name.

In [ ]:
input("What is your name? ")

What is your name? Laura

The data input can be set to be a variable, so it can be used later in your code.

Run the code below to input a name.

In [ ]:
name = input("What is your name? ")
print("Hello, " + name)

What is your name? Laura
Hello, Laura

## Conditional Statements

These are similar to IF function in spreadsheets. Tells the code if something is true, do something.



```
if blah1:
  do something1
elif blah2:
  do something2
else:
  do something3
```

In [ ]:
x = 1

if x > 7:
  print("This is true")
else:
  print("This is not true")

This is not true

In [ ]:
if x > 7:
  print("x > 7")
elif x > 3:
  print("x > 3")
else:
  print("x <= 3")

x <= 3

Silly example:

In [ ]:
answer = input("Hello. Would you like to order a pizza? ")
if answer == "Yes" or answer == "yes":
  type_pizza = input("What type of pizza? ")
  size = input("What size of pizza? ")
  print("You have ordered a " + size + " " + type_pizza + " pizza")

Hello. Would you like to order a pizza? yes
What type of pizza? Hot
What size of pizza? Small
You have ordered a Small Hot pizza

## While / For Loops

These allow code to run until a conditional is met or for a certain number of times

In [ ]:
x = 0

while x < 10:
  print(x)
  x = x + 2

# be careful without the last line this would run forever

0
2
4
6
8

In [ ]:
for x in range(2,10,2): # note this stop before 10
  print(x)

2
4
6
8