# Python - Basic Data Types

In Python, and programming in general, there are different data types. These allow the code to perform certain actions (eg adding numbers together, or merging words). Some basic (but very important) data types in Python are:
* **String** - any text data, such as words or phrases.
* **Numeric** - numbers, including integers and floats (numbers with decimal places)
* **Boolean** - true or false (1 or 0)

## Text

In [ ]:
# In the above example "Hello World" was inside quotation marks

print("This is a string. Strings must be inside quotation marks.")
print('However, both single and double quotation marks work (as long as the same is used for the start and the end).')

This is a string. Strings must be inside quotation marks.
However, both single and double quotation marks work.

Strings can be combined using a plus sign.

In [ ]:
print("My name is" + " Laura")

My name is Laura

## Numeric

In [ ]:
print(1234) # Integer (or whole number)
print(1.234) # Float (or number with decimal place)

1234
1.234

With numeric data types, we can apply some mathematical operations. Notice Python will convert from integers to floats when needed.

In [ ]:
print(1+2) # Addtion
print(3-4) # Subtraction
print(5*6) # Multiplication
print(7/8.1) # Division
print(6**2) # Exponentiation (eg 6^2 or 6 squared)

3
-1
30
0.8641975308641976
36

## Boolean

You may not have heard the term Boolean better, it simply means something which can have a True or False answer. Sometimes this can be represented as 1 and 0 respectively.

As Boolean as a data type themselves, you do not use quotation marks as these are different from strings.

In [ ]:
print(True) # notice the True changes blue, it *must* have a capital T
print(False)

True
False

We can also use Boolean statements which will produce a True or False value. These can be written using comparison operators, such as less than.

In [ ]:
print( 4 == 7) # equal to (must be two equal signs)
print(4 == "4") # note a string of the same number is not equal to the numeric
print(9 != 0) # not equal to
print(5 < 6) # less than
print(8 <= 7) # less than or equal to
print(10 > 2) # greater than
print(8 >= 8) # greater than or equal to

False
False
True
True
False
True
True